<div class="mt-4" fxLayout="row" fxLayoutAlign="center center" *ngIf="inputs.length">
    <mat-card fxFlex.xs="100%" fxFlex="500px" color="accent">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div *ngFor="let input of inputs" [ngClass]="class">
                <app-dynamic-form-input [inputs]="input" [form]="form" [ngClass]="class"></app-dynamic-form-input>
            </div>

            <div [ngClass]="class" class="d-flex flex-row">
                <button mat-raised-button color="accent" class="w-100 mr-1" [routerLink]="['/login/signup']">Signup</button>
                <button mat-raised-button type="submit" [disabled]="!form.valid" class="w-100" color="primary">
                    {{ buttonText }}
                </button>
            </div>
        </form>

        <div *ngIf="payLoad"><strong>Saved the following values</strong><br />{{ payLoad }}</div>
    </mat-card>
</div>
